.StatusButton {
    box-sizing: border-box;
    border-left: 2px solid white;
    border-right: 2px solid #7B7B7B;
    border-top: 2px solid white;
    border-bottom: 2px solid #7B7B7B;
    width: 25px;
    height: 25px;
    font-size: 13px;
    padding: 0px;
}

.StatusButton:active {
    border-left: 2px solid #7B7B7B;
    border-right: 1px solid white;
    border-top: 2px solid #7B7B7B;
    border-bottom: 1px solid white;
}